body {
  background-image: url("./img/backdrop.jpg");
}

.siteData {
  display: flex;
  justify-content: space-evenly;
}

.trends {
  padding-top: 20px;
}

.app {
  min-height: 100vh;
}

.footer {
  position: sticky;
  top: 100%;
}

.recoveredGraph {
  height: 400px;
}