.total {
    background-color: lightgray;
    height: 75px;
}

.active {
    background-color: lightblue;
    height: 77px;
}

.recovered {
    background-color: lightgreen;
    height: 75px;
}

.death {
    background-color: red;
    height: 77px;
}

.myBox {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    padding: 10px;
    width: 100%;
}